<!DOCTYPE html>
<html>

<head>
	<title>Vibe or Party</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bruh2.css')}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- Web icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_package_v0/apple-touch-icon.png">
	<link rel="icon" href="/static/icon.png">
	<link rel="manifest" href="/static/favicon_package_v0/site.webmanifest">
	<link rel="mask-icon" href="/static/favicon_package_v0/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/static/favicon_package_v0/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/static/favicon_package_v0/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<div id="container">
		<header>
		</header>
		<div id="main">
			<div id="middle">
				<div id="middle_text">
					<h1>Vibeify</h1>
					<div onclick="location.href='{{ url_for('vibes') }}';" id="button2">
						<p id="button-text"><a href="{{ url_for('vibes') }}">Your Vibes</a></p>
					</div>
					<div onclick="location.href='{{ url_for('create_party') }}';" id="button1">
						<p id="button-text"><a href="{{ url_for('create_party') }}">Create Party</a></p>
					</div>
					<div onclick="location.href='{{ url_for('join_party') }}';" id="button2">
						<p id="button-text"><a href="{{ url_for('join_party') }}">Join Party</a></p>
					</div>
					<div onclick="location.href='{{ url_for('home') }}';" id="button2">
						<p id="button-text"><a href="{{ url_for('home') }}">Log Out</a></p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="/static/app.js"></script>
	<script src="/static/modal.js"></script>
</body>

</html>